{% extends 'base.html' %}
{% block title %}about{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Document</title>


    <style>
        .abt h2 {
            font-size: 55px;
            text-align: center;
            text-shadow: 2px 2px 3px green;
        }

        .abt p {
            font-size: 15px;
            text-align: justify;
            text-indent: 50px;
        }

        .col-3 {
            width: 100px;
            text-align: center;

        }

        .row {
            text-align: center;
        }

        .row p {
            font-size: 18px;
            text-align: justify;
        }

        .row h4 {
            color: rgb(3, 10, 3)
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class='abt' style="margin: 15px;">
            <h2>YayParadise Thiland</h2>
            
            <div class="container-fluid"
                style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; color:green">

                <div class="row" style="font-size: 15px;">
                    <div class="col-lg-3 shadow p-3 mb-5 bg-white rounded">
                        <h4>Quality Products</h4>
                        <p>We at YayParadise assure our valued customer by providing quality products. All the products
                            are tested and passes the our predefined quality check. </p>
                    </div>
                    <div class="col-lg-3 shadow p-3 mb-5 bg-white rounded">
                        <h4>Perfect Service</h4>
                        <p>The service is a crucial part of any bussiess. We at YayParadise committed to provide and
                            pefect services to our customers .</p>
                    </div>

                    <div class="col-lg-3 shadow p-3 mb-5 bg-white rounded">
                        <h4>100% Naturel</h4>
                        <p>All the product at YayParadise are 100% naturel.Our product help envierment to spread
                            greenery over a area and also help ecosystem</p>
                    </div>
                    <div class="col-lg-3 shadow p-3 mb-5 bg-white rounded">
                        <h4>Environmentally Friendly</h4>
                        <p>Environmentally friendly products are market-oriented products that cause minimal
                            environmental degradation. The products at YayParadise are Environmentally friendly</p>
                    </div>

                </div>
                <div class="contaier shadow p-3 mb-5 bg-white rounded">
                    <p style="font-size: 18px;"> The total area of 1.334 million sq. ft. (12.4 hectares) of area,
                        focusing mainly on growing and
                        importing a wide range of plants like Palms, Ornamental Trees, Fruit Trees, Shrubs, Climbers,
                        Ground
                        Covers, Succulents, Grasses, Seasonal, Aquatics, Turf, and Indigenous (Native) Plants.
                        <br>
                        Our nursery has the capacity of supplying well acclimatized plants, grown locally or imported,
                        to
                        meet the demand of retail and wholesale sector along with landscape contractors and government
                        clients throughout Qatar. For mega projects development, we offer on-site nursery construction,
                        plant procurement, and maintenance services. We travel extensively around the globe in search of
                        new
                        species and agricultural technology to meet future requirements.
                        <br>
                                        Our skilled and qualified team in the art of nursery is continuously engaged in adaptation
                        trials of
                        new plant species, ranging from exotic to indigenous, in harsh climatic conditions of the Gulf
                        region. Due to the increased interest and awareness of the role that indigenous plants can play
                        in
                        the landscape schemes, we are maintaining a large stock of native plants that consume less water
                        and
                        are environment friendly.

                        We are committed to lead the nursery sector in Qatar and to contribute positively in the field
                        of
                        Horticulture. Our people take pride in the production of premium quality plants along with
                        wholesale
                        and retail services.

                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</body>

</html>